@import "tailwindcss";

@theme {  
    --color-blood-orange: #ff3f34;
    --color-cream: #faf9f6;
}

:root {
  --background: #faf9f6;
  --foreground: #171717;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
